.select-container {
  position: relative;
  font-size: 14px;
  z-index: 1000;

  caret-color: transparent;
  user-select: none;
  cursor: default;

  .select-placeholder {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 8px;
    border: none;
    outline: none;
    background-color: var(--light-gray);
    user-select: none;
    .select-trigger {
      position: absolute;
      inset: 0 0 0 0;
      opacity: 0;
      cursor: pointer;
    }
    .drop-icon {
      width: 20px;
      height: 20px;
      pointer-events: none;
      &.down {
        transform: rotate(180deg);
      }
    }
  }

  .list-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .options {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;
      background-color: var(--light-gray);
      list-style: none;

      .option {
        padding: 4px 8px;
        &:hover {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

.toggle-container {
  display: flex;
  gap: 8px;
  .toggle-button {
    width: 80px;
    padding: 4px;
    &.active {
      background-color: var(--primary-color);
    }
  }
}

button {
  font-family: monospace;
  background-color: transparent;
  border: none;
  outline: none;
  user-select: none;
}
